In [2]:
#!pip install cloudscraper

Collecting cloudscraper
  Downloading cloudscraper-1.2.71-py2.py3-none-any.whl.metadata (19 kB)
Requirement already satisfied: pyparsing>=2.4.7 in c:\users\karlj\anaconda3\lib\site-packages (from cloudscraper) (3.2.0)
Requirement already satisfied: requests>=2.9.2 in c:\users\karlj\anaconda3\lib\site-packages (from cloudscraper) (2.32.3)
Requirement already satisfied: requests-toolbelt>=0.9.1 in c:\users\karlj\anaconda3\lib\site-packages (from cloudscraper) (1.0.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\karlj\anaconda3\lib\site-packages (from requests>=2.9.2->cloudscraper) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\karlj\anaconda3\lib\site-packages (from requests>=2.9.2->cloudscraper) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\karlj\anaconda3\lib\site-packages (from requests>=2.9.2->cloudscraper) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\karlj\anaconda3\lib\site-packages (from requests>=2.9.2->cloudscraper) (2025.11.12)
Downloading cloudscraper-1.2.71-py2.py3-none-any.whl (99 kB)
Installing collected packages: cloudscraper
Successfully installed cloudscraper-1.2.71

In [1]:
import re
import pandas as pd
import cloudscraper


def scrape_fbref_leaderboard(url: str, table_id: str) -> pd.DataFrame:
    scraper = cloudscraper.create_scraper()
    html = scraper.get(url).text

    tables = pd.read_html(html, attrs={"id": table_id})
    if not tables:
        raise ValueError(f"Table with id '{table_id}' wasn't found on the page {url}")

    df = tables[0]

    if isinstance(df.columns, pd.MultiIndex):
        df.columns = [
            " ".join([str(c) for c in col if str(c) != ""]).strip()
            for col in df.columns
        ]
    else:
        df.columns = [str(c).strip() for c in df.columns]

    def clean_col(col: str) -> str:
        col = str(col)
        col = col.replace("\xa0", " ")
        col = re.sub(r"[_Â·]+", " ", col)
        col = re.sub(r"\s+", " ", col)
        return col.strip()

    df.columns = [clean_col(c) for c in df.columns]

    cols_to_drop = ["Attendance", "Top Team Scorer", "Goalkeeper", "Notes"]
    existing_to_drop = [c for c in cols_to_drop if c in df.columns]
    if existing_to_drop:
        df = df.drop(columns=existing_to_drop)

    return df


def save_to_csv(df: pd.DataFrame, filename: str, index: bool = False) -> None:
    df.to_csv(filename, index=index)

In [2]:
# For updating the running competition!
standings25_26 = scrape_fbref_leaderboard("https://fbref.com/en/comps/9/Premier-League-Stats", "results2025-202691_overall")

C:\Users\karlj\AppData\Local\Temp\ipykernel_20868\2946685725.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(html, attrs={"id": table_id})

In [6]:
standings22_23 = scrape_fbref_leaderboard("https://fbref.com/en/comps/9/2022-2023/2022-2023-Premier-League-Stats", "results2022-202391_overall")
standings21_22 = scrape_fbref_leaderboard("https://fbref.com/en/comps/9/2021-2022/2021-2022-Premier-League-Stats", "results2021-202291_overall")
standings20_21 = scrape_fbref_leaderboard("https://fbref.com/en/comps/9/2020-2021/2020-2021-Premier-League-Stats", "results2020-202191_overall")

C:\Users\karlj\AppData\Local\Temp\ipykernel_20868\2946685725.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(html, attrs={"id": table_id})
C:\Users\karlj\AppData\Local\Temp\ipykernel_20868\2946685725.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(html, attrs={"id": table_id})
C:\Users\karlj\AppData\Local\Temp\ipykernel_20868\2946685725.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(html, attrs={"id": table_id})

In [3]:
standings25_26.head()

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Last 5
0,1,Arsenal,12,9,2,1,24,6,18,29,2.42,20.7,6.1,14.6,1.22,W W W D W
1,2,Chelsea,12,7,2,3,23,11,12,23,1.92,22.1,13.9,8.2,0.69,W L W W W
2,3,Manchester City,12,7,1,4,24,10,14,22,1.83,21.8,12.6,9.2,0.76,W L W W L
3,4,Aston Villa,12,6,3,3,15,11,4,21,1.75,10.7,16.2,-5.5,-0.46,W W L W W
4,5,Crystal Palace,12,5,5,2,16,9,7,20,1.67,20.2,14.4,5.9,0.49,D L W D W

In [4]:
standings24_25.head()

NameError: name 'standings24_25' is not defined

In [9]:
standings23_24.head()

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90
0,1,Manchester City,38,28,7,3,96,34,62,91,2.39,80.5,35.6,44.9,1.18
1,2,Arsenal,38,28,5,5,91,29,62,89,2.34,76.1,27.9,48.2,1.27
2,3,Liverpool,38,24,10,4,86,41,45,82,2.16,87.8,45.7,42.0,1.11
3,4,Aston Villa,38,20,8,10,76,61,15,68,1.79,63.3,59.9,3.4,0.09
4,5,Tottenham,38,20,6,12,74,61,13,66,1.74,68.2,63.4,4.8,0.13

In [5]:
save_to_csv(standings25_26, "../CSV_files/Season_25_26/2025-2026 Team Leaderboard (ONGOING).csv")

In [14]:
#save_to_csv(standings24_25, "../CSV_files/2024-2025 Team Leaderboard (Finished).csv")

In [15]:
#save_to_csv(standings23_24, "../CSV_files/2023-2024 Team Leaderboard (Finished).csv")

In [8]:
save_to_csv(standings22_23, "../CSV_files/2022-2023 Team Leaderboard.csv")

In [9]:
save_to_csv(standings21_22, "../CSV_files/2021-2022 Team Leaderboard.csv")

In [10]:
save_to_csv(standings20_21, "../CSV_files/2020-2021 Team Leaderboard.csv")