**Scraper for Team Stats**

In [3]:
!pip install cloudscraper

Collecting cloudscraper
  Downloading cloudscraper-1.2.71-py2.py3-none-any.whl.metadata (19 kB)
Requirement already satisfied: pyparsing>=2.4.7 in /opt/anaconda3/lib/python3.13/site-packages (from cloudscraper) (3.2.0)
Requirement already satisfied: requests>=2.9.2 in /opt/anaconda3/lib/python3.13/site-packages (from cloudscraper) (2.32.3)
Requirement already satisfied: requests-toolbelt>=0.9.1 in /opt/anaconda3/lib/python3.13/site-packages (from cloudscraper) (1.0.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.13/site-packages (from requests>=2.9.2->cloudscraper) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.13/site-packages (from requests>=2.9.2->cloudscraper) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.13/site-packages (from requests>=2.9.2->cloudscraper) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.13/site-packages (from requests>=2.9.2->cloudscraper) (2025.10.5)
Downloading cloudscraper-1.2.71-py2.py3-none-any.whl (99 kB)
Installing collected packages: cloudscraper
Successfully installed cloudscraper-1.2.71

In [4]:
import cloudscraper
import pandas as pd

url = "https://fbref.com/en/comps/9/Premier-League-Stats"

scraper = cloudscraper.create_scraper()

html = scraper.get(url).text

tables = pd.read_html(html, attrs={"id": "stats_squads_standard_for"})
df = tables[0]

/var/folders/dg/93wvghd5137cglm9mr9b58zh0000gn/T/ipykernel_81859/312814577.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(html, attrs={"id": "stats_squads_standard_for"})

In [5]:
df.columns = ['_'.join(col).strip() for col in df.columns.values]
df.head()

,Unnamed: 0_level_0_Squad,Unnamed: 1_level_0_# Pl,Unnamed: 2_level_0_Age,Unnamed: 3_level_0_Poss,Playing Time_MP,Playing Time_Starts,Playing Time_Min,Playing Time_90s,Performance_Gls,Performance_Ast,...,Per 90 Minutes_Gls,Per 90 Minutes_Ast,Per 90 Minutes_G+A,Per 90 Minutes_G-PK,Per 90 Minutes_G+A-PK,Per 90 Minutes_xG,Per 90 Minutes_xAG,Per 90 Minutes_xG+xAG,Per 90 Minutes_npxG,Per 90 Minutes_npxG+xAG
0,Arsenal,23,26.4,58.5,11,121,990,11.0,20,14,...,1.82,1.27,3.09,1.64,2.91,1.71,1.05,2.76,1.57,2.61
1,Aston Villa,23,28.4,53.7,11,121,990,11.0,13,10,...,1.18,0.91,2.09,1.18,2.09,0.83,0.65,1.48,0.83,1.48
2,Bournemouth,24,25.6,50.5,11,121,990,11.0,17,11,...,1.55,1.00,2.55,1.45,2.45,1.20,0.74,1.94,1.06,1.80
3,Brentford,21,25.4,43.5,11,121,990,11.0,17,8,...,1.55,0.73,2.27,1.27,2.00,1.48,0.90,2.38,1.20,2.10
4,Brighton,24,26.0,48.8,11,121,990,11.0,17,11,...,1.55,1.00,2.55,1.36,2.36,1.51,1.01,2.52,1.30,2.32

In [6]:
df = df.rename(columns={
    "Unnamed: 0_level_0_Squad": "Squad",
    "Unnamed: 1_level_0_# Pl": "Players",
    "Unnamed: 2_level_0_Age": "Avg_player_age",
    "Unnamed: 3_level_0_Poss": "Possession"
})
df.head()

,Squad,Players,Avg_player_age,Possession,Playing Time_MP,Playing Time_Starts,Playing Time_Min,Playing Time_90s,Performance_Gls,Performance_Ast,...,Per 90 Minutes_Gls,Per 90 Minutes_Ast,Per 90 Minutes_G+A,Per 90 Minutes_G-PK,Per 90 Minutes_G+A-PK,Per 90 Minutes_xG,Per 90 Minutes_xAG,Per 90 Minutes_xG+xAG,Per 90 Minutes_npxG,Per 90 Minutes_npxG+xAG
0,Arsenal,23,26.4,58.5,11,121,990,11.0,20,14,...,1.82,1.27,3.09,1.64,2.91,1.71,1.05,2.76,1.57,2.61
1,Aston Villa,23,28.4,53.7,11,121,990,11.0,13,10,...,1.18,0.91,2.09,1.18,2.09,0.83,0.65,1.48,0.83,1.48
2,Bournemouth,24,25.6,50.5,11,121,990,11.0,17,11,...,1.55,1.00,2.55,1.45,2.45,1.20,0.74,1.94,1.06,1.80
3,Brentford,21,25.4,43.5,11,121,990,11.0,17,8,...,1.55,0.73,2.27,1.27,2.00,1.48,0.90,2.38,1.20,2.10
4,Brighton,24,26.0,48.8,11,121,990,11.0,17,11,...,1.55,1.00,2.55,1.36,2.36,1.51,1.01,2.52,1.30,2.32

In [8]:
df.to_csv("squad_standard_stats_2025-2026.csv", index=False)

In [9]:
data = pd.read_csv("squad_standard_stats_2025-2026.csv")
data.head()

,Squad,Players,Avg_player_age,Possession,Playing Time_MP,Playing Time_Starts,Playing Time_Min,Playing Time_90s,Performance_Gls,Performance_Ast,...,Per 90 Minutes_Gls,Per 90 Minutes_Ast,Per 90 Minutes_G+A,Per 90 Minutes_G-PK,Per 90 Minutes_G+A-PK,Per 90 Minutes_xG,Per 90 Minutes_xAG,Per 90 Minutes_xG+xAG,Per 90 Minutes_npxG,Per 90 Minutes_npxG+xAG
0,Arsenal,23,26.4,58.5,11,121,990,11.0,20,14,...,1.82,1.27,3.09,1.64,2.91,1.71,1.05,2.76,1.57,2.61
1,Aston Villa,23,28.4,53.7,11,121,990,11.0,13,10,...,1.18,0.91,2.09,1.18,2.09,0.83,0.65,1.48,0.83,1.48
2,Bournemouth,24,25.6,50.5,11,121,990,11.0,17,11,...,1.55,1.00,2.55,1.45,2.45,1.20,0.74,1.94,1.06,1.80
3,Brentford,21,25.4,43.5,11,121,990,11.0,17,8,...,1.55,0.73,2.27,1.27,2.00,1.48,0.90,2.38,1.20,2.10
4,Brighton,24,26.0,48.8,11,121,990,11.0,17,11,...,1.55,1.00,2.55,1.36,2.36,1.51,1.01,2.52,1.30,2.32